* {
    margin: 0;
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
  }

.menu-container {
    color: #fff;
    background-color: #1f2937;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: center;
  }

  .menu {
    /* For debugging */
   width: 900px;
   display: flex;
 }

 .menu-right{
  display: flex;
  justify-content: flex-end;
 }

.menu-logo{
  display: flex;
  font-size: 18px;
  color: #E5E7EB;
  justify-content: flex-start;
}

.text,
.text-2{
  display: flex;
  justify-content: flex-start; 
}


.header-container{
  color: #fff;
  background-color: #1f2937;
  display: flex;
  justify-content: center;
}

.header{
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.first-item{
  order: 1;
}

.last-item{
  order: -1;
}

.some-random-information{
  display: flex;
  justify-content: center;
}

.text-container{
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.quote{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}